vim/bundle/*
nvim/bundle/*
bin/nma.sh
bin/putio_download
config/fish/fishd.*
config/fish/fish_history
config/fish/functions/secrets.fish
.vagrant
config/MakerBot/
config/configstore/
config/hub
.config/fish/functions/secrets.fish
.config/hub
.config/fish/functions/__fnm_*.fish
.config/fish/fishd.*
bin/op
